.btn_arrea {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.back, 
.forward {
    display: flex;
}
.back svg, 
.forward svg {
    fill:#4BB4FF;
}
.back svg {
    transform: rotate(180deg);
}
.back:hover svg,
.forward:hover svg {
    fill:#ffffff;
}
.back:disabled,
.forward:disabled {
    background-color: #4bb4ff15;
    border-color: #4bb4ff4f;
    cursor: default;
    pointer-events: none;
}
.back:disabled svg,
.forward:disabled svg {
    fill:#4bb4ff4f;
}
