button {
    border-radius: 8px;
    border: 2px solid #4bb4ff;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color:#4bb4ff;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
    
}
button:hover {
    border-color: #ffffff51;
    background-color: #4bb4ff;
    color: #ffffff;
}
  
button:focus,
button:focus-visible {
      border: 4px auto #4bb4ff;
}

.button-delete,
.button-cancel {
    border:2px solid #ff4b4b;
}
.button-delete:hover,
.button-cancel:hover {
    border-color: #ffffff51;
    background-color: #ff4b4b;
}

.button-delete:focus,
.button-delete:focus-visible,
.button-cancel:focus,
.button-cancel:focus-visible  {
    border: 4px auto #ff4b4b;
}

.button-delete svg,
.button-cancel svg {
    fill: #ff4b4b;
}
.button-delete:hover svg,
.button-edit:hover svg,
.button-save:hover svg,
.button-cancel:hover svg {
    fill: #ffffffd9;
}
.button-edit svg,
.button-save svg {
    fill: #4bb4ff;
}