.wordArrea {
    display: flex;
    justify-content: space-between;
    color: #4bb4ff;
    border: 2px solid #4bb4ff;
    width: 752px;
}
.number {
    border-right:2px solid #4bb4ff;
    padding-left: 0.4em;
    padding-right: 0.4em;
    align-content: center;

}
.word {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
    border-right:2px solid #4bb4ff;
}
.input {
    border-radius: 8px;
    border: 2px solid #4bb4ff;
    padding: 0.6em 1.2em;
    color: #4bb4ff;
    caret-color: #4bb4ff;
}
.invisible {
    display: none;
}
.btn_arrea {
    display: flex;
    gap: 10px;
    padding: 0.4em;
}
p {
    align-content: center;
}
.btn_delete,
.btn_cancel {
    border:2px solid #ff4b4b;
}
.btn_delete:hover,
.btn_cancel:hover {
    border-color: #ffffff51;
    background-color: #ff4b4b;
}

.btn_delete:focus,
.btn_delete:focus-visible,
.btn_cancel:focus,
.btn_cancel:focus-visible  {
    border: 4px auto #ff4b4b;
}

.btn_delete svg,
.btn_cancel svg {
    fill: #ff4b4b;
}
.btn_delete:hover svg,
.btn_edit:hover svg,
.btn_save:hover svg,
.btn_cancel:hover svg {
    fill: #ffffffd9;
}
.btn_edit svg,
.btn_save svg {
    fill: #4bb4ff;
}
